section {
    padding: 1em;
}

label {
    display:block;
    padding-top:1em;
}

input {
    width: 100%;
    margin-right:12px;
    box-sizing: border-box;
    max-width: 800px;
}

fieldset.datetime-group input {
    width: 100%;
    max-width: 400px;
}
